body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.container-temporizador{
    border: 1px solid dark;
    padding: 5px;
    background-color: black; 
    border-radius: 10px;   
}
.botones{
    position: relative;
    bottom: 40px;
}